/* Global */


/* Top bar dropdown aligns with bottom border */
.has-submenu .submenu{
	margin-top: 0.5em;
}


/* Jumbotrons */
.jumbotron{
	min-height: 10em;
}

/* Home jumbotron */
#index-jumbo{
	height: 25em;
	background-image: url("") no-repeat cover center center;
}

#index-jumbo div{
	margin-top: 10em;

}

#index-jumbo div h2, #index-jumbo div h3{
	margin-bottom: 0;
}

#index-jumbo div a{
	margin-left: 1em;
}

/* Content */
.content, .content-header, .content-footer{
	min-height: 10em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.content:nth-child(even){
	background-color: #FFB2B2;
}

/* Footer */
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}
